.service-icon {
    background-color: #f3f3f3;
    padding: 25px 50px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
.service-icon img {
    max-width: 100%;
  }
/* .service-icon:hover{
    background-color: #000;
    transition: all ease 0.4s;
    img {
        fill: white; 
      }
} */
.services {
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    overflow: hidden;
}

.service-text {
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
}

.services-title {
    width: 100%;
    height: auto;
}

.services-sub-text {
    margin-top: 25px;
}

.service-text {
    color: var(--bg-black);
    margin-bottom: 20px;
}

.services-title1 {
    font-family: Gilroy;
    overflow: hidden;
    /* margin: 10px; */
}

.services-title1 span {
    display: inline-block;
    transform: translateY(100%);
}

.service1 {
    display: inline-block;
    transform: translateY(100%);
    flex: 0 1 calc(20% - 20px); 
    text-align: center;
}

@media all and (max-width: 1279px) {}

@media all and (max-width: 767px){
    .service-icon {
        background-color: #f3f3f3;
        padding: 10px 20px;
        border-radius: 10px;
        width: 80px;
        height: 80px;
    }
    .service-icon img {
        max-width: 60%;
      }
    .services {
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        overflow: hidden;
    }
}