.max-width {
    max-width: 100%;
    margin: auto;
}

.screen {
    position: relative;
    background-color: var(--white);
    padding: 100px 0px 30px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 100px;
    z-index: 3;
}

.dark {
    background-color: var(--bg-black);
    /* padding: 100px 0px 30px; */
    color: #fff;
}

.sub-text {
    font-size: 20px;
    color: #9a9a9a;
    font-weight: 600;
    margin-top: 20px;
}

.width {
    width: 80%;
    margin: auto;
}
.flex {
    display: flex;
}

.absolute-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.design {
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

.window-peek-section {
    width: 100%;
    padding: 0; 
  }
  
  .window-peek-images{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 70vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
.mobile{
    background-image: url('/public/assets/mobileDesignsLarge.png'); 

}

.laptop {
    background-image: url('/public/assets/lapotpDesigns.png');
}

.project-navigation {
    background-color: black;
    display: flex;
    
    justify-content: space-between;
}

.button1 {
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-family: 'Grifter', sans-serif;
    border: 1px solid #c0c0c0;
    background: transparent;
    color: #c0c0c0;
    margin-top: 30px;
    cursor: pointer;
    margin: 0px 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button1:hover {
    background: var(--white);
    color: var(--bg-black);
    transition: 0.5s all ease-out;
}

.design-section {
    color: #fff;
}

.design-num,
.design-title,
.process-num {
    font-family: 'Grifter', sans-serif;
    font-size: 100px;
}
.num1{
    padding: 11px;
}
.design-title {
    font-size: 45px;
    margin: 10px 0px;
}

.design-subtitle {
    font-size: 16px;
}
.design-details{
    width: 50%;
}

.design-text1 {
    /* font-family: Grifter; */
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0px 15px;
}

.design-text2 {
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    color: #9a9a9a;
}

.process-texts {
    margin-left: 16px;
}

.process-text1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.process-text2 {
    font-size: 14px;
    font-weight: 500;
    color: #9a9a9a;
}

.design_hero_image {
    width: 50%;
    margin: 50px;
    max-width: 100%;
    overflow: hidden;
}

.design_hero_image img {
    width: 100%;
    height: auto;
    display: block;
}

.design-images {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}

.design-images img {
    width: 100%;
    height: auto;
}

.design-text2 ul li {
    font-size: 14px;
    margin-bottom: 10px;
}
.images {
    white-space: nowrap;
}

.images img {
    display: inline-block;
    vertical-align: middle;
    width: calc(20% - 10px);
    margin-right: 10px;
}

.details {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.details img {
    max-width: 100%;       
    max-height: 100%;      
}

.footer {
    position: relative;
    font-size: 40px;
    font-family: 'Grifter', sans-serif;
    justify-content: space-between;
    margin-top: 0px;
    z-index: 300;
}

.footer-text {
    justify-content: flex-start;
    color: white;
    text-decoration: none;
}

.footer-icons {
    justify-content: flex-end;
}

.footer-icons img {
    margin-left: 20px;
}

.footer-details {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

@media all and (max-width: 1279px) {
    .screen {
        /* padding: 100px 0px 30px; */
        font-size: 45px;
        font-weight: 600;
    }
    .process-num{
        padding: 0;
    }
    .dark {
        background-color: var(--bg-black);
        /* padding: 100px 0px 30px; */
        color: #fff;
    }

    .sub-text {
        font-size: 14px;
        margin-top: 20px;
    }

    .footer {
        font-size: 35px;
    }

    .footer-details {
        font-size: 14px;
    }
    
}

@media all and (max-width: 767px) {
    .images {
        white-space: normal;
    }
    .design-details{
        width: 80%;
    }
    .num1{
        padding: 10px;
    }
    .images img {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .mobile {
        background-image: url('/public/assets/mobileDesignSmall.png');
    }
}

@media all and (max-width: 479px) {
    .design-section {
        display: flex;
        flex-direction: column;
        /* margin: 50px; */
    }
    .num1{
        padding: 7px;
    }
    .design-section-title {
        margin: 50px 0px 0px;
    }

    .design-num,
    .process-num {
        font-size: 40px;
    }

    .design-title {
        font-size: 30px;
    }

    .design-subtitle {
        font-size: 12px;
        font-weight: 400;
    }

    .process {
        margin: 32px 0px;
    }

    .design_hero_image {
        width: 400px;
        /* margin: 50px; */
        max-width: 100%;
        overflow: hidden;
        margin-top: 120px;
    }

    .design_hero_image img {
        width: 100%;
        height: auto;
        display: block;
    }
    .button1{
        margin-top: 50px;
        font-size: 12px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-icons img {
        margin: 10px 20px 20px 0px;
        width: 16px;
    }

    .footer-details {
        font-size: 10px;
        margin-top: 0;
    }
}